/* src/components/css/Navbar.css */
.container {
  width: 100%;
  padding: 20px;
  margin-top: 70px; /* เพิ่ม margin-top ให้มากกว่า or เท่ากับความสูงของ Navbar */
}

.navbar {
  background-color: #333;
  padding: 10px 10px;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* เพิ่มเงาให้กับ Navbar */
}


.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1900px;
  margin: 0 auto;
  padding: 0 10px;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 30px;
  display: flex;
}

.navbar ul li {
  margin-left: 15px;
  color: white;  /* เพิ่มสไตล์นี้เพื่อให้ข้อความภายใน <li> เป็นสีขาว */
}

.navbar ul li a {
  color: white;
  text-decoration: none;
}

.navbar ul li a:hover {
  text-decoration: underline;
}
/* src/components/css/Navbar.css */

.logout-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
  text-align: center;
  padding: 0px;
}

.logout-button:hover {
  text-decoration: underline;
}
